body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    font-family: cursive;
    font-size: 70px;
    background-color: rgb(83, 156, 113);
    color: rgb(182, 35, 174);
}