body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    font-family: cursive;
    font-size: 70px;
    background-color: rgb(0, 255, 106);
    color: rgb(255, 0, 0);
}